@charset "UTF-8";
/* CSS Document */
body{
  background: #d7dee8;
  font-family: 'Open Sans', helvetica, sans-serif;
  margin: 0;
  color:rgba(0,0,0,1.00);
	  /* https://www.w3schools.com/howto/howto_css_fixed_menu.asp */
}

nav{
  background:rgba(245,239,119,1.00);
  text-align: center;
  
}
nav ul{
  margin: 0;
  padding:0;
}
nav li{
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid white;
}
nav a{
  padding:20px;
  color:rgba(128,146,147,1.00);
  text-decoration: none;
  
}

.wrapper{
  background: rgba(78,91,92,1.00);
  margin: auto;
  width:90%;
  padding: 20px;
}
.logo{
	display: block;
	width: 200px;
	margin: auto;
}



img{
  width:100%;
}

/* .logo goes here */

.container{
	background:rgba(255,255,255,0.50);
	padding:2%;
}

h1{
  text-align: center;
  padding-top: 20px;
  color:rgba(255,255,255,1.00);
}

form{
	  font-family: helvetica;
	  margin:auto;
	  width:80%;
	  
	}
  textarea{
	  width:100%;
	  height:200px;
	  padding:5px;
}
  label{
	 display:inline-block;
	 padding-bottom:5px;
	}
  input, textarea{
	 border:1px solid #999;
	 font-size: 1em;
	}
  input:hover, textarea:hover,
  input:focus, textarea:focus{
	border: 1px solid black;
	}
  input{
	padding:5px;
	width: 100%;
	}
  .submit{
	width:150px;
	padding:1%;
	border-radius: 3px;
	background: white;
	}

iframe{
	margin:auto;
	width:100%;
	height:200px;
}
h2{
  text-align: center;
  padding-top: 20px;
 
}


/* .main-image goes here */

footer{
  background: rgba(245,239,119,1.00);
  color: rgba(128,146,147,1.00);
  text-align: center;
  padding:20px;
  font-size: small;
}
.main-image{
	margin-top:2%;
}
.HT20{
	margin-bottom:-4px
	
}



@media only screen and (min-width: 950px) {

  nav li{
    display: inline-block;
    border-bottom: 0;

  }
  h1{
	text-align:center;
	}
  .wrapper::after{
	  clear:both;
	  display:table;
	  content:"";
  }
	
  .columns{
	  column-count: 2;
	  column-gap: 30px; 
		
	}

  .container{
   	background:rgba(255,255,255,0.50);
    padding:2%;
    width: 95%;
    margin: auto;
    
  }
  iframe{
	margin:auto;
	width:100%;
	height:350px;
}

  .no-right-margin{
    margin-right: 0px;
  }
  
  .clearfix{
    content: "";
    clear: both;
    display: table;
  }
	
  footer{
	width:100%;
	}

}


