body{

  background: url(images/architectu.jpg) no-repeat;
  font-family: 'Open Sans', helvetica, sans-serif;
  margin: 0;
}

a{ text-decoration: none;
color:cornsilk}

nav{
  background: rgba(0,0,0,0.82);
  text-align: center;
}
nav ul{
  margin: 0;
  padding:0;
}
nav li{
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid white;
}
nav a{
  padding:20px;
  color:white;
  text-decoration: none;
}

.wrapper{

  margin: auto;
  width:90%;
  padding: 20px;
}
.logo{
	display: block;
	width: 200px;
	margin: auto;
	background: rgba(0,0,0,0.80);
	align-self: center
	}

img{
  width:100%;
}

/* .logo goes here */

h1{
  text-align: left;
  padding-top: 20px;

}
/* .main-image goes here */

.main-image{
	margin-top: 1.5%
}

footer{
  background: rgba(69, 126, 110, 0.67);
  text-align: center;
  padding:20px;
}

.espresso{

    background-color:rgba(220,111,71,1.00);
    padding: 2%;
    width: 33%;
    margin:auto;
    margin-bottom: auto;
	text-align: center;
}

.season{
    background-color: rgba(220,111,71,1.00);
    padding: 2%;
    width: 37%;
    margin: auto;
 margin-bottom: auto;
	text-align: center;
}

.batch{

    background-color:rgba(139,29,48,1.00) ;
    padding: 2%;
    width:auto;
    margin:auto;
    height:300px;

	text-align: center;
	margin-bottom: auto;
}

.pour{

    background-color:rgba(220,111,71,1.00) ;
    padding: 2%;
    width: 75%;
    margin:auto;
   margin-bottom: auto;
	text-align: center;
}

.bottled{

    background-color:rgba(139,29,48,1.00) ;
    padding: 2%;
    width: 27%;
    margin:auto;
 margin-bottom: auto;
	text-align: center;
}
.tea{
	background-color: rgba(139,29,48,1.00);
	margin-bottom: auto;
	}



@media only screen and (min-width: 700px) {

body{ text-decoration: none;
	}

	nav li{
    display: inline-block;
    border-bottom: 0;

	}
  .no-right-margin{
    margin-right: 0px;
  }

  .clearfix{
    content: "";
    clear: both;
    display: table;
  }
	footer{
		width: 100%
	}

.map{
	height: 3500px
}

	.float{
		float:left;
		width: 40%;

		margin: 2%;
		padding: 2%;
		text-align: center;
		background: rgba(184,134,82,1.00)
	}
h1{margin-left: 20%}

.espresso{
	float: left;
    background-color: rgba(220,111,71,1.00);
    padding: 2%;
    width: 27%;
    margin-right: 2%;
    height:800px;
    overflow:visible;
	text-align: center;
}

.season{
	 float: left;
    background-color: rgba(220,111,71,1.00);
    padding: 2%;
    width: 27%;
    margin-right: 2%;
	height: 100%;
	text-align: center;
}

.batch{

	background-color:rgba(2,120,219,1.00) ;
    padding: 2%;
	width: 100%;
    height: auto;
    margin:auto;

	text-align: center;
}



.bottled{
	 float:inherit;
    background-color:rgba(139,29,48,1.00) ;
    padding: 2%;
    width: 27%;
    margin-right: 2%;
    height:250px;
    overflow:hidden;
	text-align: center;
}
.tea{
	background-color: rgba(139,29,48,1.00);
	}

.logo{
	display: block;
	width: 35%;
	margin: 1.5% 40% 1.5% 40% ;
	background: rgba(0,0,0,0.80);
	}
}
