@charset "UTF-8";
/* CSS Document */


body{
	margin: 0;
	padding: 0;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-color:#ffe587;
}
a{
	color:#03515F;
	text-decoration:none;
}
a:visited{
	color:#03515F;
}
.jump a{
	color:chocolate;
	text-decoration:underline;
}
.jump a:visited{
	color:chocolate;
}
img {
	width:100%;
}
/*----------------styles for nav---------------*/
.topnav {
  overflow: hidden;
  background-color:rgba(75,40,18,.80);
}

.topnav a {
  float: left;
  display: none;
  color: #f2f2f2;
  padding: 13px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color:#DAAC43;
  color: black;
}
.topnav a.active {
  display: block;
  background-color:#A54F00;
  color: white;
}
.topnav a.icon {
	float: right;
	display: block;
}
.topnav.responsive {
	position: relative;}
.topnav.responsive .icon {
	position: absolute;
	right: 0;
	top: 0;

}
.topnav.responsive{
	position: relative;
	z-index: 1;
}
.topnav.responsive a {
	float: none;
	display: block;
	text-align: left;
}

.menu-icon{
    background: url("menu.png") no-repeat;/*--credit: April Fultz--*/
    background-size: contain;
    height:15px;
    width:23px;
    display: inline-block;
}

/*-----------------styles for splash-----------------*/
.hero{
	position: relative;
}
.hero h1{
	padding-left:5%;
	bottom: 18px;
	position: absolute;
	color:aliceblue;
	text-shadow: 3px 4px 6px rgba(70,10,20,.90);
		
}
.index-hero{
	height:100vh;
	background: url(images/sunset.jpg) no-repeat;/*--credit: www.medium.com--*/
	background-position: center;
	background-size: cover;
	
	
}

span{
	font-size:2.5em;
}

.birds img{
	width:300px;
	display: block;
	margin:30px auto;
}
footer{
	color:aliceblue;
	text-align: center;
	background:#A54F00;
	margin:auto 0;
	padding: 3% 0;
	width: 100%;
}
footer a{
	color: white;
}
footer a:hover{
	color:aqua;
}
footer a:visited{
	color:white;
}


/*---------styles for contact--------------*/
.contact-hero{
	height: 65vh;
	background: url(images/sunset.jpg) no-repeat;/*--credit: www.medium.com--*/
	background-position: center 90%;
	background-size: cover;
	
}

#contactlogo{
	float:left;
	padding-top:100px;
	padding-left:5%
}
.contactbirds img{
	display: block;
	margin:30px auto;
	width:250px;
}

form{
	
}
.contact{

}

input{
	border-radius: 5px;
    width: 98%;
    border: 1px solid #ccc;
    margin-top: 7px;
    font-size: 1em;
    padding: 4px;
}
textarea{
	border-radius: 5px;
    width: 98%;
    border: 1px solid #ccc;
    margin-top: 5px;
    font-size: 1em;
    padding: 4px;
	height:100px;
}
input[type=submit] {
	padding:7px;
    background:#8FFBF5;
    cursor: pointer;
    margin-top: 3%;
    width: 33%;
	border: 1px solid #ccc;
    border-radius: 4px;
    display: inline;
}


.column{
	float:none;	
}
	

/*---------------styles for about-------------------*/
.about img{
	border-radius: 8px;
	border-color:#27C0DE;
	border:8px;
}

/*---------------styles for edu----------------------*/
.edu {
	
}
.edu img{
	
	border-radius: 8px;
	border-color:#27C0DE;
	border:8px;
}
main{
	width:90%;
	margin:20px auto 50px auto;
}
figure{
	margin: 0;
	position: relative;
}
figcaption{
	background: rgba(100,200,180,0.8);
	position:absolute;
	border-radius:0 0 8px 8px;
	bottom:3px;
	height: 30px;
	width: 100%;
	color: white;
	padding-top: 5px;
		
}
figcaption span{
	padding-left:10px;
	padding-top:5px;

	
}
.link{
		font-size: 1em;
}
#whatare,
#whatcan,
#whodaman{
	padding-top: 30px;
}
hr{
	width:100%;
	border:1px solid black;
}


@media screen and (min-width: 600px) {

.topnav a {
	  	display: block;
}
.topnav a.icon {
	  	display: none;
}
.hero h1{	
	font-size:3em;
	line-height: 1.5em;
	color:aliceblue;
	text-shadow: 3px 4px 6px rgba(70,10,20,.90);
}
.index-hero{
		height: 100vh;
}
input[type=submit] {
    padding: 1%;
}
	
.clearfix::after{
		clear: both;
		content: "";
		display: table;
}
.birds img{
	width:300px;
	float: right;
	padding: 70px;
}


#index{
		padding-left:5%;
		padding-top:65vh;
	
}
#contactlogo{
		float:left;
		padding-top:50px;
		padding-left:5%
}
.contactbirds img{
		float:right;
		width:300px;
		padding-bottom: 50px;
		padding-top:20px;
		padding-right:30px;
}
.skinny{
		width:60%;
		margin-right:auto;
		margin-left:auto;
}
	
}

@media screen and (min-width: 1000px) {
	
.column{
		float: left;
		width: 47%;
		margin-left: 5%;
	
}
	
.column:first-of-type{
		margin: 0;
}
	
	
.clearfix::after{
		clear: both;
		content: "";
		display: table;
}
.hero h1{	
		font-size:3.5em;
		line-height: 1.5em;
		color:aliceblue;
		text-shadow: 3px 4px 6px rgba(70,10,20,.90);	
	
}
.index-hero{
		height: 100vh;
}
.birds img{
		width:500px;
		float: right;
		padding: 90px;
}

#index{
		padding-left:5%;
		padding-top:60vh;
	
}
.contactbirds img{
		width:300px;
		float: right;
		padding-bottom: 50px;
		padding-top:20px;
		padding-right:30px;
}
	
	
}
