@charset "UTF-8";
@import url("contact.html.css");
/* CSS Document */
body{
	background: rgba(223,13,16,1.00);
	font-family: "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	margin: 0;
	}
.wrapper{
	width: 90%;
	margin: auto;
	background:rgba(249,240,195,1.00);
	padding: 2%;
}
.logo{
	display: block;
	width: 300px;
	margin: auto;
}
h1{
	text-align: center;
	padding-top: 50px;
}
img{
	width: 100%;

}

.matthews{

}
.middle{

}
textarea{
	width: 100%;
	height: 250px;
}

input, textarea{
	font-family: helvetica, arial, sans-serif;
	padding:3px;
}

nav{
	background: rgba(47,25,25,1.00);
	text-align: center;
}
nav li{
	list-style-type: none;
	padding: 12px;
	border-bottom: rgba(234,216,216,1.00);

}
nav a{
	padding: 20px;
	color: aliceblue;
	text-decoration: none;

}
.pizzas{
	width: 90%;
	margin: auto;
}
@media only screen and (min-width: 700px){
	.clearfix::after{
		clear: both;
		content: "";
		display: table;
	}
  .float{
		float: left;
		background: rgba(249,240,195,1.00);
		padding: 2%;
		width: 44%;
		margin-right: 2%;

	}
	.contact{
		width:100%;
		float:left;
	}
	form{
		float: left;
		width: 44%;
		margin-right: 2%;
		padding: 2%;
	}
	iframe{
		float: left;
		width: 44%;
		padding: 2%;
	}
	textarea{
		height: 150px;
	}
	.no-right-margin{
		margin-right: 0px;
	}
	.pizzas img{
		width: 49%;
	}
	.clifton{
		height: 110%;
	}

}
@media only screen and (min-width: 1000px){
	.pizzas img{
		width: 32%;
	}
}
