#hexGrid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    overflow: hidden;
    font-size: 15px;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
}

.hex {
    position: relative;
    visibility: hidden;
    margin: 0;
    outline: 1px solid transparent;
    /* fix for jagged edges in FF on hover transition */
}

.hex::after {
    content: '';
    display: block;
    padding-bottom: 86.602%;
    /* =  100 / tan(60) * 1.5 */
}

.hexIn {
    position: absolute;
    width: 96%;
    padding-bottom: 110.851%;
    /* =  width / sin(60) */
    overflow: hidden;
    visibility: hidden;
    outline: 1px solid transparent;
    /* fix for jagged edges in FF on hover transition */
    /*-webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);*/
}

.hexIn * {
    position: absolute;
    visibility: visible;
    outline: 1px solid transparent;
    /* fix for jagged edges in FF on hover transition */
}

.hexLink {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-mask-image: url(../images/hexagon.svg);
    -webkit-mask-repeat: space;
    -webkit-mask-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    /*-webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
            transform: skewY(-30deg) rotate3d(0,0,1,60deg);*/
}

.hexLink:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(217, 82, 16, .7);
    -webkit-transition: -webkit-transform .2s ease-out, opacity .3s ease-out;
    transition: transform .2s ease-out, opacity .3s ease-out;
    opacity: 0;
}


/* entire container, keeps perspective */

.flip-container {
    perspective: 1000px;
    transform-style: preserve-3d;
}


/*  UPDATED! flip the pane when hovered */

.flip-container:hover .back {
    transform: rotateY(0deg);
}

.flip-container:hover .front {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


/* flip speed goes here */

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hex .flipper .hex-content {
    opacity: 1;
    text-align: center;
    position: absolute;
    left: 5%;
}


/* hide back of pane during swap */

.front,
.back {
    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-mask-image: url(../images/hexagon.svg);
    -webkit-mask-repeat: space;
    -webkit-mask-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/*  UPDATED! front pane, placed above back */

.front {
    z-index: 2;
    transform: rotateY(0deg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}


/* back, initially hidden pane */

.back {
    transform: rotateY(-180deg);
    background-color: #d95211;
}

.hex .flipper .front .hex-content {
    transform: none;
    top: initial;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 30px 0 57px;
    background: rgba(102, 102, 102, 0);
    background: -moz-linear-gradient(top, rgba(102, 102, 102, 0) 0%, rgba(71, 71, 71, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(43, 43, 43, 0) 0%, rgba(19, 19, 19, 0) 0%, rgba(8, 8, 8, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(102, 102, 102, 0)), color-stop(0%, rgba(71, 71, 71, 0)), color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(43, 43, 43, 0)), color-stop(0%, rgba(19, 19, 19, 0)), color-stop(100%, rgba(8, 8, 8, 1)));
    background: -webkit-linear-gradient(top, rgba(102, 102, 102, 0) 0%, rgba(71, 71, 71, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(43, 43, 43, 0) 0%, rgba(19, 19, 19, 0) 0%, rgba(8, 8, 8, 1) 100%);
    background: -o-linear-gradient(top, rgba(102, 102, 102, 0) 0%, rgba(71, 71, 71, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(43, 43, 43, 0) 0%, rgba(19, 19, 19, 0) 0%, rgba(8, 8, 8, 1) 100%);
    background: -ms-linear-gradient(top, rgba(102, 102, 102, 0) 0%, rgba(71, 71, 71, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(43, 43, 43, 0) 0%, rgba(19, 19, 19, 0) 0%, rgba(8, 8, 8, 1) 100%);
    background: linear-gradient(to bottom, rgba(102, 102, 102, 0) 0%, rgba(71, 71, 71, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(43, 43, 43, 0) 0%, rgba(19, 19, 19, 0) 0%, rgba(8, 8, 8, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#080808', GradientType=0);
}

.hex .flipper .front .hex-content h5 {
    margin: 0 auto;
    max-width: 70%;
}

.hex .flipper .back .hex-content p.content {
    opacity: 1;
    bottom: initial;
    position: relative;
    margin: 0 auto 0 !important;
    left: 0;
    font-size: 12px;
    line-height: 20px;
    width: 85%;
}


/*** HEX CONTENT **********************************************************************/

.hex img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    -ms-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
}

.hex .hex-content {
    width: 90%;
    transform: translateY(-50%);
    margin: 0 auto;
    top: 50%;
    box-sizing: border-box;
    -webkit-transition: -webkit-transform .2s ease-out, opacity .3s ease-out;
    transition: transform .2s ease-out, opacity .3s ease-out;
    opacity: 0;
    z-index: 1;
}

.hex-content,
.hex .hex-content h5,
.hex .hex-content p {
    position: relative;
    color: #fff !important;
}

.hex .hex-content p {
    font-size: 13px;
    line-height: 17px;
    max-width: 90%;
    left: 5%;
}

.hex .hex-content p.content {
    position: absolute;
    bottom: -34px;
    transition: all 0.2s;
    opacity: 0;
}

.hex .hexLink .toggle {
    position: absolute;
    bottom: 33px;
    left: 44%;
    width: 35px;
    height: 35px;
    border: 2px solid;
    line-height: 30px;
    border-radius: 100%;
    z-index: 1;
    transform: rotate(-45deg);
    opacity: 0;
    transition: all 0.2s;
}

.hex .hexLink.show-content .hex-content h5 {
    opacity: 0;
}

.hex .hexLink.show-content .hex-content p.content {
    opacity: 1;
}

.hex .hexLink.show-content .toggle {
    transform: none;
}


/*.hex h1, .hex p {
  width: 100%;
  padding: 5%;
  box-sizing:border-box;
  font-weight: 300;
  -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
          transition:          transform .2s ease-out, opacity .3s ease-out;
}*/


/*.hex h1 {
  bottom: 50%;
  padding-top:50%;
  font-size: 1.5em;
  
}*/

.hex h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 10%;
    text-align: center;
    border-bottom: 1px solid #fff;
}


/*.hex p {
  top: 50%;
  padding-bottom:50%;
  z-index: 1;
  max-width: 80%;
}*/


/*** HOVER EFFECT  **********************************************************************/


/*.hexLink:hover h1, .hexLink:focus h1,
.hexLink:hover p, .hexLink:focus p{
  opacity: 1;
  -webkit-transform:translate3d(0,0,0);
      -ms-transform:translate3d(0,0,0);
          transform:translate3d(0,0,0);
}*/

.hexLink:hover .hex-content,
.hexLink:hover .toggle,
.hexLink:hover:after {
    opacity: 1;
}


/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/

@media (min-width:1201px) {
    /* <- 5-4  hexagons per row */
    #hexGrid {
        padding-bottom: 5.5%
    }
    .hex {
        width: 25%;
        /* = 100 / 5 */
    }
    .hex:nth-child(7n+5) {
        /* first hexagon of even rows */
        margin-left: 12.5%;
        /* = width of .hex / 2  to indent even rows */
    }
}

@media (max-width: 1200px) and (min-width:901px) {
    /* <- 4-3  hexagons per row */
    #hexGrid {
        padding-bottom: 5.5%
    }
    .hex {
        width: 25%;
        /* = 100 / 4 */
    }
    .hex:nth-child(7n+5) {
        /* first hexagon of even rows */
        margin-left: 12.5%;
        /* = width of .hex / 2  to indent even rows */
    }
}

@media (max-width: 900px) and (min-width:601px) {
    /* <- 3-2  hexagons per row */
    #hexGrid {
        padding-bottom: 7.4%
    }
    .hex {
        width: 33.333%;
        /* = 100 / 3 */
    }
    .hex:nth-child(5n+4) {
        /* first hexagon of even rows */
        margin-left: 16.666%;
        /* = width of .hex / 2  to indent even rows */
    }
}

@media (max-width: 600px) {
    /* <- 2-1  hexagons per row */
    #hexGrid {
        padding-bottom: 11.2%
    }
    .hex {
        width: 50%;
        /* = 100 / 3 */
    }
    .hex:nth-child(3n+3) {
        /* first hexagon of even rows */
        margin-left: 25%;
        /* = width of .hex / 2  to indent even rows */
    }
}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 13px;
    }
}

.vc_row.left_img_half,
.vc_row.right_img_half {
    position: relative;
    margin: 0;
}

.left_img_half .half_bg {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 50%;
}

.right_img_half .half_bg {
    position: absolute;
    top: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 50%;
}

.right_img_half .column_container.vc_col-sm-12 {
    width: 50%;
    float: left;
    padding: 80px;
}

.left_img_half .column_container.vc_col-sm-12 {
    width: 50%;
    float: right;
    padding: 80px;
}

.vc_row.contain .half_bg {
    background-size: contain;
}