@charset "UTF-8";
/* CSS Document */

body{
	background-color: white;
	margin:0;
	padding:0;
	font-family: 'Open Sans', Helvetica, Arial sans-serif;
}

nav ul{
	background: rgba(0,0,0,0.4);
	text-align: center;
	margin: 0;
	padding:0;
	width: 100%;
}
nav li{
	list-style-type: none;
	padding: 15px 0;
	border-top: 1px solid black;
}
nav a{
	color: white;
	text-decoration: none;
}
#hero{
	background-image:url(img/inside2.jpg) /*samuel zeller unsplash.com*/;
	background-size:cover;
	background-position:center;
	height:570px;
	margin: 0;
	padding: 0;
}
#about-hero{
	background-image:url(img/inside.jpeg) /*unsplash.com annie spratt*/ ;
	background-size:cover;
	background-position:center;
	height:570px;
	margin: 0;
	padding: 0;

}
#contact-hero{
	background-image:url(img/door.jpg) /*unsplash.com samuel zeller*/;
	background-size:cover;
	background-position:center;
	height:570px;
	margin: 0;
	padding: 0;
}
#hero-overlay{
	text-align: right;
	position: relative;
	margin-right: 2%;
	top: 2%;
	color: white;
}

h1,h2{
	color: white;
	font-weight:100;
	text-shadow: 1px 1px 20px rgba(0,0,0,1);
}

h1{
	line-height: 1.2em;
	margin-bottom: 0;
}

h2{
	margin-top:10px;
}

#cta{
	box-shadow: 0 0 20px rgba(0,0,0, 0.5);
	background: rgba(10, 97, 13, 1);
	padding: 12px;
	font-size:1em;
    color: white;
	border: 0;
}

section{
	width: 90%;
	margin: 20px auto;
}

img{
	width:100%;
}

figure{
	margin:0;
	position: relative;
}

figcaption{
	position: absolute;
	bottom: 5px;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	padding-top: 5px;
	width: 100%;
	height: 35px;
}

figcaption span{
	padding: 5px;
}

footer{
	background: rgba(121,157,99,1.00);
	color: white;
	margin: 20px auto 0 auto;
	width: 100%;
	padding: 20px;
}
footer a {
	color: white;
}
form{
	width:60%;
	margin: 20px auto;
}
form p{
	margin-bottom:5px;
}
label{
	display: block;
	padding:2% 0;

}
input{
	width: 100%;
	padding: 2%;
	font-size: 0.9em;
}
textarea{
  min-height:100px;
  width:100%;
  padding:2%;
  font-size: 0.9em;
  border: 1px solid #ccc;
}
input[type=submit]{
  -webkit-appearance:button;
  -moz-appearance:button;
  appearance:button;
  width:104%;
  margin-top:5%;
}


@media only screen and (min-width: 600px){

nav li{
 display: inline-block;
 padding: 15px;
 border:none;
}
#hero{
 height: 90vh;
 background-position: 0 50%;
}

article{
 float: left;
 width: 48%;
 padding-right: 5%;
}
article{
 float: left;
 width: 48%;
 padding-right:4%;
}
article:last-of-type{
 padding:0;
}
.clearfix:after{
 content: " ";
 clear: both;
 display: table;
}
}
