@charset "UTF-8";
/* CSS Document */


body{
	margin:0;
	padding:0;
	font-family:'Open Sans', helevetica, arial, sans-serif;
}

/*-vvv-----Makes ALL images responsive-----vvv-*/
img{
	width: 100%;

}
/*-^^^-----Makes ALL images responsive-----^^^-*/
.logo-container{
	height: 55vh;
	background: url("img/White.jpg") no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo-item img{
	background: rgba(225,225,225,.8);
}

.flex-container{
	display: flex;
	flex-wrap: wrap;
}

.flex-items{
	flex-basis: 400px;
	flex-grow:1;
	margin:1%;
}

.flex-items img{
	width:100%;
}


.contact-hero {
	height:60vh;
	background: url(Img/suma.jpg) no-repeat;
	background-position: center 80%;
	background-size: cover;
		
}

.gallery-hero {
	height:60vh;
	background: url(img/black-rhino-namibia-adobe-stock.jpeg) no-repeat;
	background-position: center 80%;
	background-size: cover;
	
}

.donate-hero {
	height:60vh;
	background: url(Img/Nohorn.jpg) no-repeat;
	background-position: center 80%;
	background-size: cover;
	
}
.about-hero {
	height:60vh;
	background: url(Img/Black.jpg) no-repeat;
	background-position: center 80%;
	background-size: cover;
}
.thanks-hero {
	height:60vh;
	background: url(Img/OneHorn.jpg) no-repeat;
	background-position: center 80%;
	background-size: cover;
}
/*--- Nav ---*/


.topnav {
  overflow: hidden;
  background-color:rgba(45,45,45,.8);
}
.topnav a {
  float: left;
  display: none;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  display: block;
  background-color: #333;
  color: white;
}
.topnav a.icon {
	float: right;
	display: block;
}
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
	position: absolute;
	right: 0;
	top: 0;

}
.topnav.responsive{
	position: relative;
	z-index: 1;
}
.topnav.responsive a {
	float: none;
	display: block;
	text-align: left;
}

.menu-icon{
    background: url("menu.png") no-repeat;
    background-size: contain;
    height:15px;
    width:23px;
    display: inline-block;
}

.hero h1{
	text-align: right;
	margin-right:5%;
	color:white;
	font-weight:100;
	font-size: 2.5em;
	line-height: 1.1em;
	text-shadow: 1px 1px 10px rgba(0,0,0,.9);
	position: absolute;
	right:0;
	top:9%;
	
	
}

figure{
	margin:0;
	position:relative;
}
figcaption{
	background: rgba(0,0,0,0.5);
	position:absolute;
	bottom:5px;
	height:35px;
	color:white;
	width:100%;
}
figcaption span{
	padding-left: 10px;
}

main{
	/*subject to change*/
	width:90%;
	margin:auto auto 40px auto;
}

/*vvv-----------About Page-----------vvv*/ 
.description{
	color:#2191cb;
	margin-bottom:2.5%;
}
.description span{
	color:#000;
	font-size: .8em;
	cursor: pointer;
}

/*^^^-----------About Page-----------^^^*/ 

/*vvv-----------Contact Page---------vvv*/

form{
	margin:20px auto;
}
formp{
	margin-bottom:5px;
}
label{
	display:inline;
}
input{
	width:100%;
	padding:1.7%;
	margin:1.5% 0;
	font-size: 1em;
	border-radius:4px;
	border:1px solid #ccc;
	box-sizing:border-box;
}
textarea{
	min-height:100px;
	width: 100%;
	padding: 2%;
	margin: 1.5% 0;
	font-size: 1em;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing:border-box;
}
input[type=file]{
	padding-left:0px;
}

#hide{
	height:0;
	width: 0;
	overflow: hidden;
}

#btn{
	border:1px solid #ccc;
	border-radius: 4px;
	background: #fff;
	cursor: pointer;
	max-width: 98%;
	display: inline-block;
	text-align: center;
	margin-top: 10px;
	padding: 6px 15px;
	overflow-wrap: break-word;
}

input[type=checkbox]{
	width: auto;
	cursor:pointer;
}

button{
	border: 1px solid #45A99F;
	border-radius: 4px;
	background: #45A99F;
	color:white;
	cursor:pointer;
	margin-top: 3%;
	margin-bottom: 3%;
	padding:2%;
	width:100%;
	font-size: 1em;
	display: inline;
}
button a{
	text-decoration:none;
	color:white;
}
input[type=submit]{
	background: #FFF;
	cursor: pointer;
	margin-top:3%;
	border-radius: 4px;
	display:inline;
}


/*^^^-----------Contact Page---------^^^*/

/*vvv-----------Donate---------vvv*/

.donation{
	text-align:center;
}

.donate{
	width:50%;
	background: #45A99F;
	background-alignment:center;
}
.choose{
	width:70%;
	text-align:center;
	align-content:center;
}
.choose h2{
	margin-top:0;
}
.donator{
	width:100%;
}


/*^^^-----------Donate---------^^^*/
.column{
	float:none;
}
footer{
	background: rgb(78, 115, 140);
	margin:20px auto 0 auto;
	padding:3% 0;
	width: 100%;
}
footer p{
	margin: auto 1%;
}
footer a{
	color:lightgrey;
}
/*--vvv----Carasol-----vvv--*/
 box-sizing:border-box


 /*Slideshow container*/ 
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
}


.mySlides {
  display: none;
}

 
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

 
.text {
  color: #f2f2f2;
  font-size: 40px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

 
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*------Carasol-------*/
@media screen and (min-width: 600px) {

	.topnav a {
	  display: block;
	}
	.topnav a.icon {
	  display: none;
	}
	.index-hero{
		height:70vh; 
	}
	.column{
	float:left;
	width:48%;
	margin-left:1.5%;
	}
	.column:first-of-type{
		margin:0;
	}
	.clearfix::after{
		clear:both;
		content:"";
		display: table;
	}
}

@media screen and (min-width: 1000px) {
	
	.column{
	float:left;
	width:48%;
	margin-left:30px;
	}
	
}
/* 

*/
