
body{
  background:rgba(247,199,159,1.00);
  font-family: 'Open Sans', helvetica, sans-serif;
  margin: 0;
}


nav{
  background:rgba(246,102,27,1.00);
}
nav ul{
  text-align: center;	
  margin: 0;
  padding:0;
}
nav li{
 text-align: center;	  	
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid white;
}
nav a{
  padding:20px;
  color:white;
	text-decoration: none;
}

.wrapper{
  background: #f5f7fa;
  margin: auto;
  width:90%;
  max-width:1000px;
  padding: 20px;
}
.logo{
	width:200px;
	display: block;
	margin:auto;
}

img{
  width:100%;
}

/* .logo goes here */

h1{
  text-align: center;
  padding-top: 20px;
}
h3{
  font-family: futura, helvetica, sans-serif;	
}
/* .main-image goes here */
.float{
    background:rgba(240,207,172,1.00);
    padding: 2%;
 	margin-bottom:10px;				
}

form{
	font-family: helvetiva, arial;
}
textarea{
	width:350px;
	height:200px;
	padding:5px;

}
label{

	display: inline-block;

}
input, textarea{
	border: 1px solid #999;
	font-size: 1em;
}
input:hover, textarea:hover,
input:focus, textarea:focus{
	border:1px solid black;
}
input{
	padding:5px;
	width: 300px;
}
.submit  {
	width: 100px;
	padding: 1%;
	border-radius: 3px;
}


footer{
  background:rgba(159,67,19,1.00);
  text-align: center;
  color: white;
  padding:20px;
}

@media only screen and (min-width: 700px) {

  nav li{
    display: inline-block;
	  border-bottom: 0;
	  text-align: center;
	}
	
	  
	  .main-image{
		  margin-top:10px;
		  width: 48%;
		  
	  }
	.formmap{
		width: 47%;
		float:left;
		margin-right:2%;
	}
  
  .wrapper{
  }
  .float{
    float: left;
    background:rgba(240,207,172,1.00);
    padding: 2%;
    width: 27%;
    margin-right: 2%;
    height:250px;
    overflow:hidden;
  }
  .no-right-margin{
    margin-right: 0px;
  }
	.contactform{
		float: left;
		width: 40%;
		margin-right:2%;
	}
  
  .clearfix {
    content: "";
    clear: both;
    display: table;
  }
	
	footer{
		width: 100%
	}

}