body{
   background-color:rgba(24,95,131,1.00) ; /* For browsers that do not support gradients */
  background-image: linear-gradient(#d7dee8, rgba(24,95,131,1.00)); /* Standard syntax (must be last) */

  font-family: 'Open Sans', helvetica, sans-serif;
  margin: 0;
}

nav{

  background: rgba(69, 126, 110, 0.67);
  text-align: center;
}
nav ul{
  margin: 0;
  padding:0;
}
nav li{
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px dashed white;
}
nav a{
  padding:20px;
  color:white;
	text-decoration: none;
}

.wrapper{
  background: #f5f7fa;
  margin: auto;
  width:90%;
  padding: 20px;
}
.logo{
	padding-top: 20px;
	display:block;
	width:200px;
	margin:auto;
}
img{
  width:100%;
}
.cowphone{
	width:300px;
}
.imagecontainer{
	display:block;
  width:100%;
	max-width:620px;
	margin:auto;
}
.imgcenter{
	width:50%;
	display:block;
	margin:auto;
}


h1{
  text-align: center;
  padding-top: 20px;
}
/* .main-image goes here */

footer{
  background: rgba(69, 126, 110, 0.67);
  text-align: center;
  padding:20px;
}
.main-image{
	margin-top: 10px;
}
form{
	font-family:arial;
}
textarea{
	width:80%;
	height:200px;
	padding:5px;

}label{
	width:100px;
	display:inline-block;

}
input,textarea{
	border: 1px solid #999;
	font-size: lem;
}
input:hover, textarea:hover,
input:focus,textarea:focus{
	border:1px solid black;
}
input{
	padding:5px;
	width:80%;
}
.submit {
	width:100px;
	padding:100px;
	border-radius:3px;
}

@media only screen and (min-width:700px){
	 nav li{
    display: inline-block;
    border-bottom: 0;

  }
	.wrapper{
		width:80%;

	}
	.contact{
		float:left;
		width:50%;
		height:600px;
	}
}
